<div class="container">
<mat-card class="form-card">
    <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    <mat-card-title>{{isEditMode?'Edit Part':'Add Part'}}</mat-card-title>
    <form [formGroup]="partForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <mat-form-field appearance="fill" class="w-100 mb-0" >
            <mat-label>Part Name</mat-label>
            <input matInput formControlName="name"/>
            <mat-error *ngIf="partForm.get('name')?.hasError('required')">Part name is Required</mat-error>
        </mat-form-field>    
        
        <mat-form-field appearance="fill" class="w-100 mb-0">
            <mat-label>Part price</mat-label>
            <input matInput formControlName="price" />
             <mat-error *ngIf="partForm.get('price')?.hasError('required')">Part price is Required</mat-error>
        </mat-form-field>   

        <mat-form-field appearance="fill" class="w-100 mb-0">
            <mat-label>Part Stock</mat-label>            
            <input  matInput formControlName="stock" />
             <mat-error *ngIf="partForm.get('stock')?.hasError('required')">Part stock is Required</mat-error>
        </mat-form-field>
      
          <mat-form-field appearance="fill" class="w-110 mb-0">
            <mat-label>Part Detail</mat-label>
            <textarea   matInput rows="2" matInput formControlName="description"></textarea>
            <mat-error *ngIf="partForm.get('description')?.hasError('required')">Part detail is Required</mat-error>
        </mat-form-field>    
            <div class="w-100 mb-3">
                <mat-label>Part Image</mat-label> <br>
                <img *ngIf="previewUrl" [src]="previewUrl" width="75"><br>
                <input type="file" hidden #fileInput class="file-upload" (change)="onFileSelected($event)" accept="image/*" />
                <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">{{previewUrl? 'Change Image' :
                    'Choose Image'}}</button>
                <span class="ms-2 file-name">{{selectedFileName}}</span>
                <mat-error *ngIf="partForm.get('imageUrl')?.invalid && partForm.get('imageUrl')?.touched ">Please select an
                    image</mat-error>
            </div>

       <div class="actions w-100 mb-0 text-center">
         <button mat-raised-button color="primary" type="submit" >
            {{isEditMode? 'Update':'Save'}}</button>
        <button mat-raised-button  color="warn" routerLink="/parts">Cancel</button>        
       </div>   
    </form>
</mat-card>
</div>
