
.dialog-title {
  display: flex;
  align-items: center;
  gap: 8px;
 color: var(--btn-danger-text);
}

mat-dialog-content {
    margin-top: 8px;
    font-size: 14px;
}

mat-dialog-actions {
    margin-top: 16px;
}
