<div class="container">
<mat-card class="form-card">
    <mat-card-title>Add New Part</mat-card-title>
    <form [formGroup]="partForm" (ngSubmit)="onsumbit()" enctype="multipart/form-data">
        <mat-form-field appearance="fill" class="w-100 mb-0" >
            <mat-label>Part Name</mat-label>
            <input matInput formControlName="pName"/>
            <mat-error *ngIf="partForm.get('pName')?.hasError('required')">Part name is Required</mat-error>
        </mat-form-field>    
        
        <mat-form-field appearance="fill" class="w-100 mb-0">
            <mat-label>Part price</mat-label>
            <input matInput formControlName="part_price" />
             <mat-error *ngIf="partForm.get('part_price')?.hasError('required')">Part price is Required</mat-error>
        </mat-form-field>   

        <mat-form-field appearance="fill" class="w-100 mb-0">
            <mat-label>Part Stock</mat-label>
            <input matInput formControlName="pStock" />
             <mat-error *ngIf="partForm.get('pStock')?.hasError('required')">Part stock is Required</mat-error>
        </mat-form-field>

          <mat-form-field appearance="fill" class="w-110 mb-0">
            <mat-label>Part Detail</mat-label>
            <textarea   matInput rows="2" matInput formControlName="part_detail"></textarea>
            <mat-error *ngIf="partForm.get('part_detail')?.hasError('required')">Part detail is Required</mat-error>
        </mat-form-field>
           <div class="w-100 mb-3">
             <mat-label>Part Image</mat-label> <br>
            <button mat-raised-button color="primary"  type="button" (click)="fileInput.click()" ><mat-icon>upload</mat-icon>Choose Image</button>         
            <span class="ms-2 file-name">{{selectedFileName}}</span>  
            <input type="file" #fileInput class="file-upload" style="display: none;" formControlName="part_image" (change)="onFileSelected($event)" accept="image/*"/>
            <mat-error *ngIf="partForm.get('part_image')?.invalid && partForm.get('part_image')?.touched ">Please select an image</mat-error>        
        </div>
       <div class="actions w-100 mb-0 text-center">
         <button mat-raised-button color="primary" type="submit" >
            {{isEditMode? 'Update':'Save'}}</button>
        <button mat-raised-button  color="warn" routerLink="/parts">Cancel</button>        
       </div>   
    </form>
</mat-card>
</div>
