
<!-- Topbar -->
<p-toolbar styleClass="app-topbar">
   <!-- Left Section -->
  <div class="app-topbar-left">
    <button
      pButton
      icon="pi pi-bars"
      class="app-menu-btn"
      (click)="sidebarVisible = true">
    </button>  

       <span class="app-title">CarKaashiv</span>  
       <span class="env-badge" [ngClass]="env.badgeClass">{{env.label}}</span>
      <span class="app-section-title">  {{ currentUser ? dashboards[currentUser.role] : 'Default Dashboard' }}</span>
      </div>

  <!-- Right Section -->
  <div class="app-topbar-right">
      <span *ngIf="currentUser" >Welcome, {{currentUser.name}} ({{currentUser.role}})</span>
     
      <button pButton icon="pi pi-shopping-cart" badge="3" badgeClass="p-badge-danger" class="p-button-text"
        (click)="goToCart()">
      </button>
    <p-menu #userMenu [popup]="true" [model]="userItems"></p-menu>
    <p-avatar icon="pi pi-user" shape="circle" class="cursor-pointer" (click)="userMenu.toggle($event)">
    </p-avatar>
  </div>
</p-toolbar>

<!-- Sidebar -->
<p-sidebar [(visible)]="sidebarVisible" position="left" styleClass="app-sidebar">
  <h3 class="sidebar-title">Navigation</h3>
  <ul class="sidebar-menu">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.route" (click)="sidebarVisible = true">
        <i [class]="item.icon"> {{item.label}}</i>
      </a>
    </li>
  </ul>  
</p-sidebar>  


  <!-- Main content -->
<div class="app-content">
  <router-outlet>
    <p-confirmDialog></p-confirmDialog>
  </router-outlet>
</div>

<!--Foot section-->
  <p-toolbar styleClass="app-footer">
  <div class="app-footer left">
    <span>© 2025 CarKaashiv 2.0</span>
  </div>
  <div class="p-toolbar-group-right">
    <span class="text-sm menu-btn">Powered by PrimeNg</span>
  </div>
</p-toolbar>
