<div class="login-wrapper">
    <div class="login-container animate-zoom-in">
    <mat-card class="login-card">
  <!--Header-->
    <div class="d-flex align-items-center mb-3">
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>    
      <h3 class="text-center   text-primary">Login </h3>          
    </div>              
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="w-100 mb-3">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput formControlName="username">
                </mat-form-field>
                <small *ngIf="submitted && loginForm.get('username')?.invalid">User name Required</small>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <small *ngIf="submitted && loginForm.get('password')?.invalid">Password required</small>
                <div class="text-center mt-4">
                    <button  mat-raised-button color="primary" type="submit" class="w-100">
                        Login
                    </button>
                </div>
               
            </form>
            <div class="mt-5">
               <button pButton label="User register" class="me-2 mt-1" (click)="navgigateToUserRegister()"></button>
               <button pButton label="Employee register" class=" mt-1" (click)="navigateToEmpRegister()"></button>            
            </div>
        </mat-card>
    </div>     
</div>


