
.invoice-card {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}





.viewport-center {
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: auto;             /* full viewport height */
}

.totalCal {
    text-align: right!important; 
    margin-top:20px;
    margin: 15px 0;
}