<form [formGroup]="partForm" (ngSubmit)="onSubmit()">

    <div>
        <label>Part Name</label>
        <input formControlName="name" type="text" class="form-control" placeholder="Enter part name" />
    </div>

    <div>
        <label>Description</label>
        <input formControlName="description" type="text" class="form-control" placeholder="Enter part description" />
    </div>

    <div>
        <label>Price</label>
        <input formControlName="price" type="number" class="form-control" placeholder="Enter part price" />
    </div>

    <div>
        <label>Stock Quantity</label>
        <input formControlName="stockQuantity" type="number" class="form-control" placeholder="Enter stock quantity" />
    </div>

    <div>
        <label>Image Path</label>
        <input formControlName="imagePath" type="file" class="form-control" placeholder="Select an image" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save Part</button>

</form>