<div class="card p-4 max-w-xl mx-auto">
    <h2 class="text-xl font semibold mb-3">Employee Registration</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name">Name</label>
            <input pInputText formArrayName="name" class="w-full">
            <p-message *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid" severity="error"
                text="Enter a valid name"></p-message>
        </div>

        <div class="mb-3">
            <label>offical Email</label>
            <input pInputText formControlName="email" class="w-full">
            <p-message *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" severity="error"
                text="only @kaashiv.com email is allowed"></p-message>
        </div>
        <div class="mb-3">
            <label for="role">Role</label>
            <p-dropdown formArrayName="role" [options]="roles" placeholder="Select role" class="w-full"> </p-dropdown>
        </div>


        <div class="mb-3">
            <label for="password">Password</label>
            <p-password formControlName="password" toggleMask></p-password>
        </div>

        <div class="mb-3">
            <label>Confirm Password</label>
            <p-password formArrayName="cpassword" toggleMask></p-password>
            <p-message *ngIf="registerForm.get('cpassword')?.errors?.['mismatch']" severity="error"
                text="Password do not match"></p-message>
        </div>
        
        <button pButton type="submit" label="Register" class="w-full mt-3"></button>

    </form>

</div>